.vscode/
build/
config/telegram_credentials.json
dist/
logs/
src/.env
src/.env.local
src/__pycache__/
src/logs/
src/telegram_api.log
src/user_session.session
.env
user_session.session
telegram_session*
TelegramClient.zip
src/config/telegram_credentials.json
